*{
    
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    box-sizing: border-box;
  
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#9f3647; 
    padding: 10px 0; 
    z-index: 1000;
  }
.Botones-nav{ 
    text-align: right;
    padding: 10px;

} 
.Botones-nav li{
    display: inline; 
    margin: 20px;
    font-size: medium;
   
}
.Botones-nav li:hover{
    
    border: none; 
    background-color:#9f3647; 
    color: #fff; 
    cursor: pointer; 
    border-radius: 10px; 
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
header{
    width: 100%;
    height: 100px;
    background-color: #9f3647;
    font-size: 20px;
 
}

main{
    background-color: black;
    
    
}

.principal{

    background-image: url("fondo7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 500px;
    
}
.principal h1{
    text-align: center;
    font-size: 60px;
    
}
.principal h2{
    text-align: center;
    font-size: 40px;
   
}
.contenedor-imagenes-y-botones {
    max-width: 100%;
    overflow-x: auto; 
    white-space: nowrap; 
}



.imagenes .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative; 
    
}

.imagenes .grid-item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #9f3647;
    position: relative;
    z-index: 1; 
}

.imagenes .grid-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Mantén el aspect ratio de 1:1 para cada imagen */
}


.imagenes img:hover{
 
    border-color: white;
    opacity: 0.7;

}
.buscador{
    text-align: center;
    height: 300px;

}
.buscador input{
   margin-top: 150px;

}
.buscador #busca{
    background-color: azure;
    width: 500px;
    height: 40px;
    color: black;
    border: none;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #9f3647;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    

}
.buscador #busca:hover{
    border-color: white;
      
}
.buscador #boton{
    width: 80px;
    height: 40px;
    background-color: #9f3647;
    border: none;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #9f3647;
    font-size: larger;
    text-align: center;
    font-weight: bold;

}
.buscador #boton:hover{
    border-color: white;   
}
.botones_pie_de_pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botones_pie_de_pagina button{
   
    margin: 40px;
    width: 100px;
    height: 40px;
    background-color: #9f3647;
    border: none;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #9f3647;
    font-size: larger;
    text-align: center;
    font-weight: bold;
}
.botones_pie_de_pagina button:hover{
    border-color: white;   
}

footer{
    background-color:  #9f3647;
     font-size: 20px;
}


